extends layout
append styles
    style
        include ../source/css/index.css
block content
    if user
        p Welcome #{user.displayName}!
    else
      h1 Welcome! Please login
      form(method='get', action='/login')
        button(type='submit')#login Login
