doctype html
html(lang="en")
  head
    block title 
      title Final Project
    block styles
      style
        include ../source/css/index.css
    script(type='text/javascript').
  body
    block content
    //h1= title
