doctype html
html(lang="en")
  head
    block title
      title Final Project
    block styles
      style
        include ../source/css/index.css
    script(type='text/javascript').
  body
    block content
      ul
        li #[a(href='/') Home]
        li #[a(href='/about') About]
        li #[a(href='/logout') Logout]
