body {
  padding: 50px;
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #BBCDE5;
  background: #1C5D99;
}

h1 {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}

button {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 7px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li {
  border-bottom: 1px solid #555;
}
li a {
  display: block;

  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

li:last-child {
  border-bottom: none;
}

p {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 7px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table, td, th {
    border: 1px solid white;
}

table {
    position: relative;
    z-index: 100;
    margin: 50px;
    padding-top: 200px;
    border-collapse: collapse;
    margin-left: 1%;
    margin-right: auto;
    margin-top: 50px;
}
th {
    font: 21px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 200px;
    height: 30px;
    text-align: center;
}
td {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 22px;
    padding: 15px;
}

td a {
  color: #ffffff;
}

.thumb {
  display: none;
}

td a:hover .thumb {
  position: absolute;
  z-index: 101;
  display: block;
<<<<<<< HEAD
}


.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
=======
  margin-top: 1%;
}
>>>>>>> c8bb40bbc791863ed5be9fffddf897d445577b02
